#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.color-input {
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.form-container {
  background-color: white;
  padding: 20px;
  color: #02204d;
  border-radius: 20px;
}

h1 {
  margin: 0px;
}

h2 {
  margin-bottom: 5px;
  text-align: left;
}

h3 {
  margin-top: 0px;
}

.color-holder {
  display: flex;
  justify-content: center;
  gap: 60px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
}

.button {
  width: 50%;
  text-align: center;
  margin: auto !important;
  margin-bottom: 10px !important;
}

.text-input {
  width: 90%;
  margin: auto !important;
}

.app-container {
  display: flex;
  gap: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.image-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  border-radius: 20px;
  width: 50%;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
}

#port-image, #square-image, #landscape-image {
  width: 50%;
  max-height: 850px;
  margin: 10px;
}

#landscape-image {
  width: 60%;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 20px;
}


.brief {
 width: 80%; 
}